html, body {
    min-height: 100%;
    font-family: 'Tektur', sans-serif;
    background-color: var(--color-1);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


nav.navbar {
    background-color: var(--color-2);
    padding: 1rem 0;
}

.nav-link {
    color: var(--main-text);
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    color: var(--color-3);
}


footer {
    background-color: var(--color-2);
    text-align: center;
    padding: 1.5rem 0;
    color: var(--main-text);
}

footer a {
    color: var(--main-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-3);
}


.btn-pink {
    background-color: var(--pink-btn);
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.btn-pink:hover {
    background-color: var(--color-3);
}
